<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <h3>Javascript Kalkulator</h3>
        <div class="calculator">
            
            <div class="output result">
                <div previous-operator class="previous-operator history">
                    
                </div>
                <div current-operator class="current-operator output">
                    
                </div>
            </div>
    
            <div class="keyboard">
                <div class="row" id="row1">
                    <button all-clear id="all-clear">AC</button>
                    <button delete id="delete">DEL</button>
                    <button operator id="division">รท</button>
                </div>
                <div class="row">
                    <button number>1</button>
                    <button number>2</button>
                    <button number>3</button>
                    <button operator>*</button>
                </div>
                <div class="row">
                    <button number>4</button>
                    <button number>5</button>
                    <button number>6</button>
                    <button operator>+</button>
                </div>
                <div class="row">
                    <button number>7</button>
                    <button number>8</button>
                    <button number>9</button>
                    <button operator>-</button>
                </div>
                <div class="row">
                    <button number id="null">0</button>
                    <button number>.</button>
                <button equals id="equals">=</button>
                </div>
                
            </div>
        </div>
    </div>
    <script src="javascript/script.js"></script>
    
</body>
</html>